@use 'sass:list';
@use 'sass:string';

@mixin transition($properties, $duration: 200ms, $fun: ease, $disable: false) {
  $transition-props: ();
  $will-change-props: ();

  @each $property in $properties {
    $transition-props: list.append(
      $transition-props,
      string.unquote('#{$property} #{$duration} #{$fun}'),
      $separator: comma
    );
    $will-change-props: list.append($will-change-props, $property, $separator: comma);
  }

  will-change: $will-change-props;

  @if not $disable {
    transition: $transition-props;
  }
}

@mixin media($property: max-width, $size: 30rem) {
  @media screen and (#{$property}: #{$size}) {
    @content;
  }
}

@mixin motion() {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin dark {
  [data-theme='D'] & {
    @content;
  }
}
