.con {
  margin: 0 auto;
  padding: 1rem;

  max-width: 75rem;

  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;

  @include mediaLarge {
    grid-template-columns: 1fr 1fr;
  }
  @include mediaMedium {
    grid-template-columns: 1fr;
  }
}

.ele {
  margin: 0 auto;
  padding: 0.5rem;

  max-width: 25rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  background-color: $stone-100;
  box-shadow:
    0.25rem 0 0.125rem $amber-200,
    0 0.25rem 0.125rem $amber-200,
    0.25rem 0.25rem 0.125rem $amber-200;
}

.title {
  font-family: $font_black;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;

  @include mediaMedium {
    font-size: 1.75rem;
  }

  @include mediaSmall {
    font-size: 1.5rem;
  }
}

.subTitle {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
}

.icon {
  margin: 0 auto;

  width: 10rem;
  height: 10rem;
}

.btn {
  margin-top: auto;
  padding: 0.5rem;

  font-size: 1.5rem;

  color: $black;
  --color: #{$white};

  background-color: $green-400;
  box-shadow: 0 0 0.25rem $black;
}

.panel {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;

  padding: 2rem;

  width: 100dvw;
  height: 100dvh;

  display: flex;

  background-color: color.adjust($stone-900, $alpha: -0.5);

  opacity: 0;

  pointer-events: none;
  backdrop-filter: blur(5px);

  @include mediaSmallest {
    padding: 1rem;
  }
}

.panelCon {
  margin: auto;
  padding: 2rem;

  max-width: 40rem;

  height: fit-content;

  background-color: $white;
  box-shadow: 0 0 1rem $black;

  overflow: scroll;

  h1 {
    font-family: $font_black;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}
