.con {
  z-index: 1;

  overflow: hidden;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: var(--posY, 0);
    left: var(--posX, 0);

    min-width: 150%;
    min-height: 150%;
    aspect-ratio: 1/1;

    display: block;

    background-color: var(--bg, #{$stone-900});

    border-radius: 100%;

    transform: translate(-50%, -50%) scale(var(--scale, 0));
    opacity: 0.9;
  }
}

.def {
  position: relative;

  font-family: inherit;
  font-size: inherit;

  color: inherit;
  background-color: $transparent;

  border: none;

  cursor: pointer;

  [data-disabled='true'] & {
    pointer-events: none;
    &::before {
      display: none;
    }
  }
}

.defColorLight {
  --bg: #{$stone-800};
  --color: #{$stone-300};
}

.defColorDark {
  --color: #{$stone-800};
  --bg: #{$stone-300};
}

.ripple {
  position: absolute;

  min-width: 100%;
  min-height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--color);

  border-radius: 100%;

  transform: translate(-50%, -50%);
  opacity: 0.3;
}
