.black {
  z-index: 2;
  position: fixed;
  inset: 0;

  background-color: $black;

  pointer-events: none;

  mask-image: radial-gradient(
    circle var(--radius) at var(--posX, 50%) var(--posY, 50%),
    $transparent 0%,
    $transparent 50%,
    $black 90%,
    $black 100%
  );

  @include transition((mask-position));
}

.main {
  flex: 1;
}
