.section {
  margin: 0 auto;
  padding: 6rem 3rem;

  width: calc(100% - 6rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $stone-800;

  overflow: hidden;

  @include mediaMedium {
    padding: 3rem 1rem;

    width: calc(100% - 2rem);
  }
}

.content {
  max-width: 1200px;

  background-color: inherit;
}

.title {
  z-index: 0;
  position: relative;

  margin: 0 auto;

  width: 100%;

  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;

  background-color: inherit;
  @include fontBlack;

  & span {
    position: relative;

    padding: 0.25rem 0.5rem;

    background-color: inherit;

    box-decoration-break: clone;
  }

  &::before {
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 5px;

    display: block;

    border-top: 0.25rem solid $emerald-800;
    border-bottom: 0.25rem solid $emerald-800;

    transform: translateY(-50%);

    @include dark {
      border-color: $green-500;
    }
  }

  @include mediaLarge {
    font-size: 2.5rem;
  }

  @include mediaMedium {
    font-size: 2rem;
  }
}

.icons {
  margin: 0 auto;

  display: grid;
  gap: 0 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'icon1 icon2 icon3'
    'title1 title2 title3'
    'content1 content2 content3';

  @include mediaLarge {
    gap: 0 1rem;
  }

  @include mediaSmall {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;

    grid-template-areas:
      'icon1 icon1 icon2 icon2'
      'title1 title1 title2 title2'
      'content1 content1 content2 content2'
      '. icon3 icon3 .'
      '. title3 title3 .'
      '. content3 content3 .';
  }

  @include mediaSmallest {
    gap: 0 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      'icon1'
      'title1'
      'content1'
      'icon2'
      'title2'
      'content2'
      'icon3'
      'title3'
      'content3';
  }
}

.icon {
  margin: 0 auto;

  width: 100%;
  aspect-ratio: 1/1;

  @include mediaSmall {
    margin: 0 auto;
  }

  @include mediaSmallest {
    max-width: 12rem;
  }
}

.iconTitle {
  display: flex;
  justify-content: center;
  align-items: end;

  @include fontBlack;
  text-align: center;

  color: $emerald-600;

  border-bottom: 0.25rem solid $emerald-800;
  text-wrap: balance;

  @include dark {
    color: $green-50;

    border-color: $green-500;
  }
}

.iconDes {
  margin-top: 1rem;

  text-align: justify;
}
