@use '@/utils/style/mixin.scss' as *;
@use '@/utils/style/data.scss' as *;

[data-theme='L'] {
  color-scheme: light;
}
[data-theme='D'] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_lato;
}

svg:not([fill]) {
  fill: $gray-900;
  @include dark {
    fill: $gray-300;
  }
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
  position: relative;

  color: $stone-900;
  background-image: radial-gradient(circle, $stone-100 80%, $stone-300);
  box-shadow: 0 0 1rem 0 $black inset;

  @include dark {
    color: $stone-100;
    background-image: radial-gradient(circle, $stone-900 80%, $stone-800);
  }
}
