.footer {
  background-color: $emerald-50;

  @include dark {
    background-color: $emerald-950;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem;

  max-width: 75rem;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnTitle {
  position: relative;

  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;

  width: fit-content;

  font-size: 2rem;

  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 4rem;

    border-bottom: 0.25rem solid $fuchsia-400;
    @include dark {
      border-color: $fuchsia-900;
    }
  }
}

.list {
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  list-style-type: none;
}

.menIcon {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menIconPhone {
  width: fit-content;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.75rem 0.5rem;
}

.iconCon {
  margin-left: -0.5rem;

  grid-row: 1/3;
  width: 2.5rem;
  height: 2.5rem;
}

.rippleBottom {
  position: absolute;
  right: 50%;
  bottom: -0.25rem;
  left: 50%;

  height: 0.25rem;

  background-color: $green-700;

  @include transition((left, right, background-color, filter));
}
