.sec {
  position: relative;

  min-width: 100%;
  min-height: 100vh;
}

.icon {
  display: contents;
}

.ele {
  width: 100%;
  height: 100%;

  filter: contrast(3) drop-shadow(1px 1px var(--color)) drop-shadow(-1px 1px var(--color))
    drop-shadow(1px -1px var(--color)) drop-shadow(-1px -1px var(--color));

  --color: #{$black};
}
