@use '@/utils/style/mixin.scss' as *;
@use '@/utils/style/data.scss' as *;

.container {
  display: flex;
  gap: 1rem;

  @include media($size: 50rem) {
    flex-direction: column;
  }
}

.content {
  position: relative;
  padding: 2rem;
  min-width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  background-color: $stone-900;
  box-shadow: 0 0 1rem 0 $black;
}

.right {
  @extend .content;
  padding: 1rem;
}

.image {
  padding: 0.25rem;

  & img {
    display: block;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 $black;
  }
}

.title {
  font-family: $font_black;
  text-align: center;
}

.separator {
  position: relative;
  min-height: 0.25rem;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: calc(100% + 2rem);

    transform: translateX(-1rem);
    background-color: $white;
  }
}

.contentItem {
  display: flex;
  gap: 1rem;
  padding: 0 auto;
  justify-content: space-between;
}

.noMargin {
  margin: 0;
}
