html[data-theme='light'] {
  color-scheme: light;
}
html[data-theme='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: $font_lato;

  @include useColor('color', bg_950);
  @include useColor('background-color', bg_100);
  @include useTheme(
    background-image,
    radial-gradient(circle, $dark_bg_100 80%, $dark_bg_50 100%),
    radial-gradient(circle, $light_bg_50 80%, $light_bg_300 100%)
  );
}

#root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
}

svg:not([fill]) {
  @include useColor(fill, bg_800);
}
