@use 'sass:list';
@use 'sass:string';
@use '@/utils/style/data.scss';

@mixin transition($properties, $duration: 500ms, $fun: ease, $disable: false) {
  $transition-props: ();
  $will-change-props: ();

  @each $property in $properties {
    $transition-props: list.append(
      $transition-props,
      string.unquote('#{$property} #{$duration} #{$fun}'),
      $separator: comma
    );
    $will-change-props: list.append($will-change-props, $property, $separator: comma);
  }

  will-change: $will-change-props;

  @if not $disable {
    transition: $transition-props;
  }
}

@mixin fontBlack {
  font-family: 'Bricolage Grotesque', 'Bricolage Grotesque Fallback';
  font-style: normal;
  font-weight: 800;
}

@mixin media($property: max-width, $size: 30rem) {
  @media screen and (#{$property}: #{$size}) {
    @content;
  }
}

@mixin mediaLarge() {
  @include media($size: 75rem) {
    @content;
  }
}

@mixin mediaMedium() {
  @include media($size: 50rem) {
    @content;
  }
}

@mixin mediaSmall() {
  @include media($size: 40.5rem) {
    @content;
  }
}

@mixin mediaSmallest() {
  @include media($size: 25rem) {
    @content;
  }
}

@mixin dark {
  [data-theme='d'] & {
    @content;
  }
}
