.heroLogo {
  margin: 0 auto;

  width: auto;
  max-width: calc(100vw - 2rem);
  height: auto;
  max-height: calc(100vh - 2rem);

  filter: //
    contrast(150%) //
    drop-shadow(1px 1px 1px var(--filter, #{$white})) //
    drop-shadow(1px -1px 1px var(--filter, #{$white})) //
    drop-shadow(-1px 1px 1px var(--filter, #{$white})) //
    drop-shadow(-1px -1px 1px var(--filter, #{$white}));

  object-fit: cover;

  @include dark {
    --filter: #{$black};
  }
}

.cards {
  position: relative;
}

.anchor {
  display: block;
}

.card1,
.card2,
.card3 {
  position: sticky;

  box-shadow: 0 -0.25rem 0.25rem var(--shadow, #{$white});

  @include dark {
    --shadow: #{$black};
  }
}

.card1 {
  background-color: $emerald-200;
  @include dark {
    background-color: $emerald-900;
  }
}

.card2 {
  background-color: $green-200;
  @include dark {
    background-color: $green-900;
  }
}

.card3 {
  background-color: $teal-200;
  @include dark {
    background-color: $teal-900;
  }
}
