@use '@/utils/style/colors.scss' as *;
@use '@/utils/style/mixin.scss' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(100%);
  background-color: $transparent;
}

.text {
  display: block;
  font-family: $font_black;
  text-transform: uppercase;
}

.content {
  width: 5rem;
  height: 2.5rem;

  border-radius: 6rem;
  border-radius: 0 0 6rem 6rem;
  border: 5px solid $green-400;
  border-top: none;

  background:
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0) calc(100% - 5px), #e7ef9d calc(100% - 4px)),
    radial-gradient(closest-side at 2px 3px, #5c4037 89%, rgba(0, 0, 0, 0)) 0 0/17px 12px,
    #ff1643;

  mask-image: linear-gradient(#000 0 0), radial-gradient(farthest-side, #000 94%, #0000),
    radial-gradient(farthest-side, #000 94%, #0000), radial-gradient(farthest-side, #000 94%, #0000),
    radial-gradient(farthest-side, #000 94%, #0000), radial-gradient(farthest-side, #000 94%, #0000),
    radial-gradient(farthest-side, #000 94%, #0000), linear-gradient(#0000 0 0);
  mask-position:
    0 0,
    12px -8px,
    29px -8px,
    45px -6px,
    22px -2px,
    34px 6px,
    21px 6px,
    0 0;
  mask-composite: exclude, add, add, add, add, add, add;
  mask-repeat: no-repeat;

  animation: 4s melon infinite;
}

@keyframes melon {
  0% {
    mask-size:
      auto,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  15% {
    mask-size:
      auto,
      25px 25px,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  30% {
    mask-size:
      auto,
      25px 25px,
      25px 25px,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  45% {
    mask-size:
      auto,
      25px 25px,
      25px 25px,
      25px 25px,
      0 0,
      0 0,
      0 0;
  }
  60% {
    mask-size:
      auto,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px,
      0 0,
      0 0;
  }
  75% {
    mask-size:
      auto,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px,
      0 0;
  }
  90%,
  100% {
    mask-size:
      auto,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px,
      25px 25px;
  }
}
