.section {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 1rem;

  width: calc(100% - 2rem);
  height: 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: color.change($stone-100, $alpha: 0.95);

  transform: translateY(-100%);

  @include dark {
    background-color: color.change($stone-900, $alpha: 0.95);
  }
}

.logoHolder {
  width: fit-content;
  height: inherit;
}

.logo {
  margin-top: 0.5rem;

  width: auto;
  height: calc(100% - 1rem);

  filter: contrast(200%);
  object-fit: contain;

  @include dark {
    filter: brightness(150%) contrast(150%);
  }
}

.back {
  z-index: -1;
  position: fixed;
  inset: 0;

  background-color: color.change($black, $alpha: 0.25);

  opacity: 0.2;
  @include dark {
    background-color: color.change($white, $alpha: 0.5);
  }
}

.navOpener {
  display: none;

  & svg {
    max-height: inherit;
  }

  @include mediaMedium {
    padding: 1;

    width: auto;
    height: 4rem;

    display: block;
  }
}

.nav {
  @include mediaMedium {
    z-index: 1;
    position: fixed;

    top: 6rem;
    right: 0;
    bottom: 0;

    padding: 1rem;

    width: max(33%, 20rem);

    background-color: color.change($stone-100, $alpha: 0.95);

    transform: translateX(100%);

    @include dark {
      background-color: color.change($stone-900, $alpha: 0.95);
    }
  }
}

.list {
  display: flex;
  gap: 0.5rem;

  list-style-type: none;
  text-transform: uppercase;

  @include mediaMedium {
    height: 100%;

    flex-direction: column;
  }
}

.listEle {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  @include fontBlack;

  @include mediaMedium {
    flex-direction: column;
  }
}

.rippleLink.rippleLink {
  @include mediaMedium {
    padding: 1rem;

    width: calc(100% - 2rem);

    display: flex;
    justify-content: center;

    background-color: $stone-300;
    @include dark {
      background-color: $stone-800;
    }
  }
}

.rippleBottom {
  position: absolute;
  right: 50%;
  bottom: -0.25rem;
  left: 50%;

  height: 0.25rem;

  background-color: $green-700;

  @include transition((left, right, background-color, filter));
}

.rippleIcon.rippleIcon {
  position: relative;

  padding: 0.25rem;

  width: 100%;
  height: 2.5rem;

  display: flex;
  align-items: center;
  gap: 0.5;

  border-radius: 100%;

  box-sizing: content-box;

  @include mediaMedium {
    padding: 0.25rem;

    width: calc(100% - 0.5rem);

    background-color: $stone-300;

    border-radius: 0;
    @include dark {
      background-color: $stone-800;
    }
  }
}

.hiddenSpan {
  display: none;

  @include mediaMedium {
    display: block;
  }
}

.langs {
  position: absolute;
  top: 4.75rem;

  width: fit-content;

  display: flex;
  flex-direction: column;

  background-color: color.change($stone-100, $alpha: 0.95);

  opacity: 0;
  overflow: hidden;
  list-style-type: none;

  @include dark {
    background-color: color.change($stone-900, $alpha: 0.95);
  }

  @include mediaMedium {
    position: static;
    top: 0;

    opacity: 1;
  }

  @include mediaMedium {
    margin-top: 0.25rem;
    margin-left: 3rem;

    width: calc(100% - 3rem);

    gap: 0.25rem;

    background-color: $transparent;
    @include dark {
      background-color: $transparent;
    }
  }
}

.rippleLang.rippleLang {
  position: relative;

  padding: 0.75rem;

  height: 2.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  box-sizing: content-box;
  @include transition((background-color));

  & svg {
    box-shadow: 0 0 2px 2px $black;

    border-radius: 100%;
  }

  &:hover {
    background-color: $stone-200;
    filter: none;

    @include dark {
      background-color: $stone-800;
    }
  }

  @include mediaMedium {
    padding: 0.5rem;

    width: calc(100% - 1rem);
    height: 2rem;

    background-color: $stone-300;

    @include dark {
      background-color: $stone-800;
    }
  }
}

.noClickSmall {
  @include mediaMedium {
    pointer-events: none;
  }
}
