.rippleCon {
  position: absolute;
  inset: 0;

  border-radius: inherit;

  overflow: hidden;

  pointer-events: none;
}

.ripple {
  z-index: 1000;
  position: absolute;

  min-width: 100%;
  min-height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--rippleColor, $slate-900);

  border-radius: 100%;

  transform: translate(-50%, -50%) scale(5);
  opacity: 0;
  overflow: hidden;

  pointer-events: none;

  @include dark {
    background-color: var(--rippleColor, $stone-100);
  }
}

.btn {
  position: relative;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;

  color: inherit;
  background-color: $transparent;

  border: none;

  cursor: pointer;
  @include transition((filter));

  &[disabled] {
    opacity: 0.5;

    cursor: not-allowed;

    filter: grayscale(100%);
  }

  &:not([disabled]):hover {
    filter: contrast(200%);
  }
}
