@use '@/utils/style/colors.scss' as *;
@use '@/utils/style/mixin.scss' as *;

.icon {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.info,
.error {
  position: absolute;
  left: 2.75rem;
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: $font_black;
  white-space: nowrap;
  pointer-events: none;
  @include transition((top, left, transform));
}

.info {
  top: 0;
}

.error {
  top: 100%;
  color: $red-500;

  @include media {
    left: 0;
  }
}


.input {
  all: unset;
  position: absolute;
  width: calc(100% - 3.25rem);
  height: 2rem;
  padding: 0.75rem 0 0.25rem 2.75rem;
  font-size: 1.5rem;
  background-color: $transparent;
  outline: none;

  &::placeholder {
    color: $transparent;
  }

  &:is(:autofill) {
    font-size: 1.5rem;

    background-clip: text;
    -webkit-text-fill-color: inherit;
  }
}

.container {
  position: relative;
  height: 2.75rem;
  margin: 1rem 0;
  display: flex;
  background-color: $white;
  color: $black;
  box-shadow: 0 0 0.25rem 0 $black;
  border-radius: 0.75rem;
  @include transition((background-color, margin));

  @include dark {
    background-color: $stone-800;
    color: $white;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1.5rem;
    height: 100%;
    background-color: $green-500;
    z-index: -1;
    overflow: hidden;
    @include transition((background-color, width, top));
  }

  &::before {
    right: 0;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
  }

  &::after {
    left: 0;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
  }

  &:hover,
  &:focus-within {
    background-color: $stone-200;
    @include dark {
      background-color: $stone-900;
    }
  }
  &:focus-within {
    &::after,
    &::before {
      width: 50%;
      top: 0.25rem;
    }
  }

  &:has(:disabled) {
    filter: grayscale(100%);
    cursor: not-allowed;

    &::after,
    &::before {
      width: 0;
      transition: none;
    }
  }

  &:has(.error:not(:empty)) {
    margin-bottom: 1.5rem;

    &::before,
    &::after {
      top: 0.25rem;
      width: 50%;
      background-color: $red-500;
    }
  }

  &:not(:has(.icon)) {
    .info,
    .error {
      left: 0.25rem;
    }
    .input {
      padding-left: 0.25rem;
    }
  }

  &:has(.input:not(:focus, :autofill):placeholder-shown) {
    .info {
      left: 50%;
      top: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
    }
  }
}
