$dark_scheme: 'dark';

$dark_bg_50: hsla(0, 0%, 5%, 100%);
$dark_bg_100: hsla(0, 0%, 10%, 100%);
$dark_bg_200: hsla(0, 0%, 20%, 100%);
$dark_bg_300: hsla(0, 0%, 30%, 100%);
$dark_bg_400: hsla(0, 0%, 40%, 100%);
$dark_bg_500: hsla(0, 0%, 50%, 100%);
$dark_bg_600: hsla(0, 0%, 60%, 100%);
$dark_bg_700: hsla(0, 0%, 70%, 100%);
$dark_bg_800: hsla(0, 0%, 80%, 100%);
$dark_bg_900: hsla(0, 0%, 90%, 100%);
$dark_bg_950: hsla(0, 0%, 95%, 100%);

$dark_pr_50: hsla(120, 46%, 5%, 100%);
$dark_pr_100: hsla(120, 49%, 10%, 100%);
$dark_pr_200: hsla(120, 49%, 20%, 100%);
$dark_pr_300: hsla(120, 49%, 30%, 100%);
$dark_pr_400: hsla(120, 49%, 40%, 100%);
$dark_pr_500: hsla(120, 49%, 50%, 100%);
$dark_pr_600: hsla(120, 49%, 60%, 100%);
$dark_pr_700: hsla(120, 49%, 70%, 100%);
$dark_pr_800: hsla(120, 49%, 80%, 100%);
$dark_pr_900: hsla(120, 49%, 90%, 100%);
$dark_pr_950: hsla(120, 46%, 95%, 100%);

$dark_se_50: hsla(199, 62%, 5%, 100%);
$dark_se_100: hsla(197, 61%, 10%, 100%);
$dark_se_200: hsla(198, 61%, 20%, 100%);
$dark_se_300: hsla(198, 61%, 30%, 100%);
$dark_se_400: hsla(198, 61%, 40%, 100%);
$dark_se_500: hsla(198, 61%, 50%, 100%);
$dark_se_600: hsla(198, 61%, 60%, 100%);
$dark_se_700: hsla(198, 61%, 70%, 100%);
$dark_se_800: hsla(198, 61%, 80%, 100%);
$dark_se_900: hsla(197, 61%, 90%, 100%);
$dark_se_950: hsla(199, 62%, 95%, 100%);

$dark_ac_50: hsla(120, 15%, 5%, 100%);
$dark_ac_100: hsla(120, 18%, 10%, 100%);
$dark_ac_200: hsla(120, 16%, 20%, 100%);
$dark_ac_300: hsla(120, 16%, 30%, 100%);
$dark_ac_400: hsla(120, 16%, 40%, 100%);
$dark_ac_500: hsla(120, 16%, 50%, 100%);
$dark_ac_600: hsla(120, 16%, 60%, 100%);
$dark_ac_700: hsla(120, 16%, 70%, 100%);
$dark_ac_800: hsla(120, 16%, 80%, 100%);
$dark_ac_900: hsla(120, 18%, 90%, 100%);
$dark_ac_950: hsla(120, 15%, 95%, 100%);
