.con {
  padding: 6rem;

  width: 100%;
  min-height: 100dvh;

  display: grid;

  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: $blue-200;
  grid-template-areas: 'title img img' 'title img img' 's img img' 'stats img img';

  @include dark {
    background-color: $blue-800;
  }

  @include mediaLarge {
    padding: 3rem;

    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: none;
  }

  @include mediaMedium {
    padding: 1rem;

    gap: 1rem;
  }

  @include mediaSmall {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto auto;
  }
}

.titleCon {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  grid-area: title;

  & > h1 {
    @include fontBlack;

    font-size: 2.5rem;
  }

  & > p {
    font-size: 1.25rem;

    text-align: justify;

    opacity: 0.5;
  }

  @include mediaLarge {
    grid-area: auto;
  }

  @include mediaMedium {
    width: auto;
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  grid-area: stats;

  @include mediaLarge {
    grid-area: auto;
  }

  @include mediaSmall {
    grid-row: 4/5;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: s;

  & > div {
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      width: min-content;

      font-weight: 900;
      text-transform: uppercase;
    }

    & > div:last-child {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.25rem;
    }

    &:last-child {
      padding-top: 1rem;

      border-top: 1px solid $black;
    }
  }

  @include mediaLarge {
    grid-area: auto;
  }
}

.image {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: img;

  & > div:first-child {
    position: relative;

    height: 100%;
  }
  & > div:last-child {
    height: 1rem;

    display: flex;
    justify-content: center;
    gap: 0.25rem;

    & > button {
      width: 0.75rem;
      height: 0.75rem;

      background-color: $black;

      border: none;

      border-radius: 50%;

      opacity: 0.5;

      cursor: pointer;
    }
  }

  @include mediaLarge {
    grid-area: auto;
  }
}
.bigImg {
  img {
    width: 100%;
    height: 100%;

    visibility: hidden;

    pointer-events: none;
    object-fit: contain;

    &[data-show='true'] {
      visibility: visible;
    }
  }
}
