.header {
  display: contents;
}

.section {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 1rem;

  width: calc(100% - 2rem);
  height: 6rem;

  transform: translateY(-100%);
}

.logoHolder {
  width: fit-content;
  height: inherit;

  grid-column: 1/2;
  grid-row: 1/2;
}

.logoHolderDown {
  background-color: color.change($stone-900, $alpha: 0.95);

  border-radius: 1rem;

  @include mediaMedium {
    display: none;
  }
}

.logoUp,
.logoDown {
  margin-top: 0.5rem;

  width: auto;
  height: calc(100% - 1rem);

  filter: brightness(150%) contrast(150%);
  object-fit: contain;
}

.logoDown {
  padding: 1rem;

  height: calc(100% - 3rem);
}

.down {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.downMenu {
  position: relative;

  margin: 0 auto;
  padding: 0.5rem;

  width: fit-content;

  gap: 0.25rem;
  grid-column: 1/4;
  grid-row: 1/2;

  background-color: color.change($stone-900, $alpha: 0.95);

  border-radius: 1rem;

  @include mediaMedium {
    position: absolute;
    top: 100%;
    left: 50%;

    padding: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0fr;

    transform: translateX(-50%);
  }
}

.downMenuContainer {
  position: relative;

  display: flex;

  @include mediaMedium {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    overflow: hidden;
  }
}

.downMenuSelect {
  position: absolute;
  top: 0;
  left: 0;

  background-color: color.change($white, $alpha: 0.3);

  border-radius: 1rem;
}

.downMenuItem.downMenuItem {
  padding: 0.5rem;

  font-size: 1.25rem;

  border-radius: 1rem;

  @include fontBlack();

  @include mediaMedium {
    width: fit-content;
    min-width: 15rem;
  }
}

.downMenuBtn.downMenuBtn {
  display: none;

  @include mediaMedium {
    margin: 0 auto;

    padding: 1rem;

    display: block;
    grid-column: 1/4;
    grid-row: 1/2;

    background-color: color.change($stone-950, $alpha: 0.25);
  }
}

.background {
  z-index: -1;
  position: fixed;
  inset: 0;

  background-color: color.change($black, $alpha: 0.5);
}

.up {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: color.change($stone-900, $alpha: 0.95);
}

.navElements {
  display: flex;
  gap: 0.25rem;

  list-style-type: none;

  @include mediaMedium {
    position: fixed;
    top: 6rem;
    right: 0;
    bottom: 0;

    padding: 1rem;

    width: max(300px, 33%);

    flex-direction: column;
    gap: 0.5rem;

    background-color: $stone-900;

    transform: translateX(100%);
    opacity: 0;
  }
}

.navElement {
  position: relative;

  display: flex;
  align-items: center;

  @include mediaMedium {
    width: 100%;
  }
}

.navElementBtn.navElementBtn {
  position: relative;

  padding: 0.5rem;

  overflow: hidden;

  @include mediaMedium {
    padding: 1rem 0.5rem;

    width: 100%;

    display: flex;
    justify-content: center;

    background-color: $stone-950;
  }
}

.navElementIcon {
  position: relative;

  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  @include mediaMedium {
    width: 100%;

    justify-content: left;
  }
}

.navTextHide {
  display: none;

  @include mediaMedium {
    display: block;
  }
}

.upMenuItem.upMenuItem {
  padding: 1rem;

  width: auto;
  height: 6rem;

  display: none;

  @include mediaMedium {
    display: block;
  }

  & svg {
    max-height: 4rem;
  }
}

.langs {
  position: fixed;
  top: 6rem;
  right: 2rem;

  padding: 1rem;

  background-color: red;

  list-style-type: none;
}
.lang {
  height: 3rem;
}
.langBtn.langBtn {
  position: relative;

  height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
